{% load staticfiles %}
{% load i18n %}
{% load floppyforms otree_tags %}

<!DOCTYPE html>
<html lang="en" class="ingame">
<head>
    <title>{% block head_title %}{% block title %}
    {% endblock %}{% endblock %}</title>

    <meta name="description"
          content="otree, game theory">
    <meta name="keywords"
          content="otree, game theory">

    {% block internal_styles %}
        {% include 'otree/includes/InternalStyles.html' %}

    {% endblock %}
    {% block global_styles %}
    {% endblock %}
    {% block app_styles %}
    {% endblock %}
    {# 'styles' block is for page-specific styles (for 3rd party programmers only) #}
    {% block styles %}
    {% endblock %}
</head>
<body class="ingame">

<header>

        <!--SocialLab Navbar-->
        <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

            <!-- Collapse button-->
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
            <i class="fa fa-bars"></i></button>

            <div class="container">

                <!--Collapse content-->
                <div class="collapse navbar-toggleable-xs" id="collapseEx">

                    <ul class="nav navbar-nav">
                       <div class="ingame pull-left" id="socialLablogo"></div>
                    </ul>

                </div>


            </div>

        </nav>


</header>

{% block content_at_top_of_body %}{% endblock %}


{% block content_main %}
    <div class="container" style='max-width:970px'>
        {% block menus %}{% endblock %}
        <div>



            {% if form.errors %}
                <div class="alert alert-danger">
                    {% blocktrans %}Please fix the errors in the form.{% endblocktrans %}
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div id="error-notice" class="alert alert-danger" style="display:none">
                {% blocktrans %}An error occurred. Please check the logs or ask the administrator for help.{% endblocktrans %}
            </div>


            <form action="" method="post" role="form" class="form" id="form">{% csrf_token %}
                <input type="hidden" value="{{ request.path }}" name="origin_url" />
                {% form form using %}
                    {% formconfig row using "floppyforms/rows/bootstrap.html" %}
                    <div id="otree-content">
                        {% if view.has_timeout %}
                            {% include 'otree/includes/TimeLimit.html' with form_element_id="form" %}
                        {% endif %}
                        {% block content %}{% endblock %}

                    </div>

                {% endform %}
            </form>
        </div>
        <br/>
        {% if view.is_debug %}
            {% include 'otree/includes/debug_info.html' %}
        {% endif %}
    </div>
{% endblock %}
<!--end content_main-->
{% block internal_scripts %}
    {% include 'otree/includes/InternalScripts.html' %}
    {% if view.has_timeout %}
        {% include 'otree/includes/TimeLimit.js.html' %}
    {% endif %}
{% endblock %}


{% block global_scripts %}
{% endblock %}
{% block app_scripts %}
{% endblock %}
{# 'scripts' block is for page-specific scripts (for 3rd party programmers only) #}
{% block scripts %}
{% endblock %}
</body>
</html>
